
<div class="container d-flex justify-content-center ">
    <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
    <h1>Bienvenido tweethacker</h1>
    <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
</div>
